/* reset rules */
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

ul, ol{
    list-style: none;
}

/* layout */
.container{
    max-width: 800px;
    margin: 0 auto;
    padding-top: 5px;
    padding-left: 20px;
    padding-bottom: 3px;
    background-color: white;
    /* border: 0.5px solid lightgray; */
    /* border-radius: 3px; */
}

.container.pd-bot-20{
    padding-bottom: 20px;
}

.main-header{
    background-color: white;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 10px;
}

.logo-toboolist, .text-toboolist{
    vertical-align: middle;
}

.text-toboolist{
    font-weight: 700;
    font-size: 18px;
}

.main-content{
    background-color: rgb(246,248,249);
    padding-top: 25px;
    padding-bottom: 25px;
    padding-left: 30px;
    padding-right: 30px;
}

.card{
    border-radius: 3px;
    width: auto;
    height: 15px;
    text-align: center;
    font-size: 8px;
    display: inline-block;
    vertical-align: middle;
    padding-left: 5px;
    padding-right: 5px;
}
.card.bg-blue{
    background-color: #47adf1;
    color: white;
    padding-top: 3px;
}

.card.bg-white{
    color:rgba(215,219,223,75);
    border: 1px solid lightgray;
    padding-top: 2px;
}

.card.bg-purple{
    background-color: #9c72e4;
    color: white;
}

.card.bg-green{
    background-color: #64c0a9;
    color: white;
}

.card.bg-orange{
    background-color: #f29e33;
    color: white;
}

.card.card-list{
    border-radius: 10px;
    font-size: 6px;
    padding-top: 4px;
}

.list-title{
    font-size: 10px;
}

.list-item{
    padding-left: 5px;
    font-size: 8px;
    display: inline-block;
    vertical-align: middle;
}


.hide{
    display: none;
}