/* reset rules */
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

ul, ol{
    list-style: none;
}

/* layout */
.container{
    max-width: 400px;
    margin: 0 auto;
    padding-top: 30px;
    padding-bottom: 15px;
}

.main-header{
    background-color: white;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 10px;
}

.logo-toboolist, .text-toboolist{
    vertical-align: middle;
}

.text-toboolist{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 700;
    font-size: 18px;
}

.main-content{
    background-color: rgb(246,248,249);
}

.add-task-section{
    background-color: white;
}

.hide{
    display: none;
}